:root {
    --primary-color: #7c3aed;
}


/* applicable to all html elements */

* {
    background-color: #ffffff;
    color: VAR(--primary-color);
    text-align: center;
}


/* main frame of the page */

.container {
    margin: 1rem auto;
}


/* contains heading, image and about me*/

.introduction-container {
    text-align: center;
    border-radius: 0.5rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

.heading {
    color: #2B39A4;
    font-size: 40px;
    font-weight: 700;
    margin: 2rem auto;
    font-family: "Karla", sans-serif;
}

.about-me {
    font-style: normal;
    font-weight: 700;
    color: #c5c6dd;
    max-width: 600px;
    margin: auto;
    font-family: "Martel", sans-serif;
    letter-spacing: 0.5px;
}

mark {
    color: #2B39A4;
}


/* contains links, active-link, anchor */

.links {
    list-style: none;
}

.links-heading {
    color: black;
    font-family: "Martel", sans-serif;
}

.active-link {
    text-decoration: none;
    margin: 1rem 2rem;
    padding: 1%;
    display: inline-block;
}

.anchor {
    text-decoration: none;
    color: #2B39A4;
    font-weight: bolder;
}


/* adding the effect on the links */

a {
    box-shadow: inset 1 1 1 1 wheat;
    color: palegoldenrod;
    margin: 1 -.25rem;
    padding: 0.5 .25rem;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 var(--primary-color);
    color: white;
}


/* footer */

.footer {
    background-color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-header {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: #c5c6dd;
}